@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-brand-bg: #09090b;
  --color-brand-sidebar: #111114;
  --color-brand-border: #27272a; /* zinc-800 */
}

@layer base {
  body {
    @apply bg-brand-bg text-zinc-100 font-sans antialiased select-none;
  }
}

@layer components {
  .high-density-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .high-density-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .high-density-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }
}
